<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <h3>ADDRESS INFO</h3>
                <div class="address">357, WASHINGTON AVE., <br />30523 - NEW YORK (NY)</div>
                <p>Tel. <a href="tel:+1 917 3452356">+1 (917) 3452356</a></p>
                <p>Email. <a href="mailto:info@yourdomain.com">info&#64;yourdomain.com</a></p>
                <ul class="list-social">
                    <li><a href="#" class="facebook"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#" class="twitter"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#" class="instagram"><i class="fa fa-instagram"></i></a></li>
                    <li><a href="#" class="vk"><i class="fa fa-vk"></i></a></li>
                    <li><a href="#" class="behance"><i class="fa fa-behance"></i></a></li>
                </ul>
                <!-- /.list-social -->
            </div>
            <div class="col-md-3 col-sm-6">
                <h3>HELP</h3>
                <ul class="list-link">
                    <li><a href="#">HOW TO BUY</a></li>
                    <li><a href="#">GENERAL INFORMATION</a></li>
                    <li><a href="#">PAYMENT</a></li>
                    <li><a href="#">SHIPPING</a></li>
                    <li><a href="#">RETURNS</a></li>
                    <li><a href="#">EXCHANGES</a></li>

                </ul>
            </div>
            <div class="col-md-3 col-sm-6">
                <h3>POLICIES</h3>
                <ul class="list-link">
                    <li><a href="#">ENVIRONMENTAL POLICY</a></li>
                    <li><a href="#">ANIMAL WELFARE</a></li>
                    <li><a href="#">PRIVACY POLICY</a></li>
                    <li><a href="#">PURCHASE CONDITIONS</a></li>
                    <li><a href="#">GIFT CARD CONDITIONS</a></li>
                    <li><a href="#">WARRANTY ON WATCHES</a></li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-6">
                <h3>COMPANY</h3>
                <ul class="list-link">
                    <li><a href="#">ABOUT US</a></li>
                    <li><a href="#">OFFICES</a></li>
                    <li><a href="#">STORES</a></li>
                    <li><a href="#">WORK WITH US</a></li>
                    <li><a href="#">CONTACT</a></li>
                </ul>
            </div>
        </div>
        <div class="bottom-footer">
            <div class="copyright">
                ©COPYRIGHT 2021. <a href="https://gridgum.com/">GRIDGUM</a>
            </div>
            <!-- /.copyright -->
            <ul class="list-payment">
                <li><a href="#"><img src="assets/images/visa.png" alt="img" /></a></li>
                <li><a href="#"><img src="assets/images/paypal.png" alt="img" /></a></li>
                <li><a href="#"><img src="assets/images/2co.png" alt="img" /></a></li>
                <li><a href="#"><img src="assets/images/ae.png" alt="img" /></a></li>
                <li><a href="#"><img src="assets/images/skrill.png" alt="img" /></a></li>
            </ul>
            <!-- /.list-payment -->
        </div>
    </div>
</footer>
